* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 216px;
  padding: 15px;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title-text {
  color: #000000;
  opacity: 0.8;
}

.plus-icon {
  height: 18px;
  color: grey;
}
