* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 216px;
  margin: 10px;
  padding: 16px 8px;
  box-shadow: 0px 3px 14px 0px #0000001a;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-left: 8px;
}

.title-text {
  color: #000000;
  font-size: 11px;
  opacity: 0.8;
}

.plus-icon {
  height: 25px;
  margin-right: 8px;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
}

.plus-icon:hover {
  background-color: #f0f0f0;
}
.plus-icon:active {
  background-color: #1789e8;
}
